.menubar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: lightblue;
}
.menubar li a {
  display: block;
  color: #000;
  padding: 8px 12px;
  text-decoration: none;
}
.menubar li a:hover {
  background-color: #555;
  color: white;
}


.foot {
 position: absolute;
 width: auto;
 height: auto;
 bottom: 0px;
 left: 35%;

}
