/*HEADER MENU*/
.menubar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #001489;
}
.menubar li {
  float: left;
}
.menubar li a {
  display: block;
  color: #000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
}
.menubar li a:hover {
  background-color: #555;
  color: white;
}


/*HEADER FOOTER*/
.foot {
 position: absolute;
 width: auto;
 height: auto;
 bottom: 0px;
 left: 35%;
}

/*TABLE IN squadron Members*/
.leftside {
  float: left;
  width: 25%;
}
.middle {
  float: left;
  width: 75%;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
@media screen and (max-width: 600px) {
  .leftside, .middle {
    width: 100%;
  }
}


/*MENU FOR SQ members*/
.sqmenubar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #d6e3ff;
}
.sqmenubar li {
  float: left;
}
.sqmenubar li a {
  display: block;
  color: black;
  text-align: center;
  padding: 12px 14px;
  text-decoration: none;
}
.sqmenubar li a:hover {
  background-color: #555;
  color: white;
}


/*TABLE FOR sqmembers*/
.sqtable table {
  width: 75%;
  margin-left:auto;
  margin-right:auto;
  align-items: center;
  text-align: center;
  border: 1px solid black;
}
